.podderjka{
        color: #000000;
        width: 500px;
        height: 58px;
        
        margin-top: 150px;
        margin-left: 900px;
        font-family: Montserrat;
        font-size: 40px;
        font-weight: 500;
        line-height: 43.88px;
        text-align: center;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;   
}

img{
    margin-left: 100px;
}

.sponsor-images{
    margin-left: 300px;
}

