@font-face {
  font-family: "Poppins";
  src: url("../../assets//font/Poppins/Poppins-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("../../assets//font/Poppins/Poppins-Light.ttf") format("truetype");
  font-weight: 400; // Жирный вес
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../../assets/font/Montserrat/Montserrat-Light.ttf")
    format("truetype");
  font-weight: 400; // Обычный вес
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../../assets/font/Montserrat/static/Montserrat-Bold.ttf")
    format("truetype");
  font-weight: 600; // Обычный вес
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
}

.container {
  width: 1200px;
  margin: 0 auto;
}
